In [1]:
import librosa
import librosa.display
import IPython.display as ipd
import matplotlib.pyplot as plt 
import numpy as np
from pathlib import Path
import random
import pandas as pd
from statistics import mean

In [2]:
data = pd.read_json('../4_accent_features_22k.json')

In [3]:
data

,lable,rms,zrc,sb,sc,mfcc
0,bangla,"[0.0013946438000000002, 0.0020170733, 0.001862...","[0.0380859375, 0.083984375, 0.109375, 0.112304...","[2886.401524858, 2796.0275535111, 2909.4122465...","[2388.1567998945, 2180.9140804113, 2443.847420...","[[-471.7465515137, -456.7153930664, -459.34436..."
1,malayalam,"[0.0018541168000000001, 0.0027880995, 0.002781...","[0.0302734375, 0.0654296875, 0.078125, 0.08007...","[2678.5589162968, 2631.4120034514, 2610.859365...","[1946.2487991002, 2028.1892441629, 2041.918837...","[[-472.3463745117, -446.223815918, -440.630249..."
2,malayalam,"[0.0020720728, 0.002927064, 0.0027094684, 0.00...","[0.0419921875, 0.078125, 0.0654296875, 0.08300...","[2891.4828893877, 2809.1249499908, 2620.486954...","[2412.3271069461, 2277.5214977171, 1993.719309...","[[-476.6443786621, -446.4409484863, -445.25283..."
3,odiya,"[0.0016051014, 0.0025093982, 0.002824514200000...","[0.0400390625, 0.072265625, 0.0615234375, 0.07...","[2697.6979899722, 2628.8437120369, 2626.839185...","[2141.7725273933, 2088.7253072531, 2009.974668...","[[-477.852935791, -448.7857971191, -444.822631..."
4,bangla,"[0.0019763573, 0.0027296843, 0.003020898200000...","[0.0400390625, 0.0771484375, 0.0791015625, 0.0...","[2468.2086847496, 2488.7754963086, 2448.232229...","[1936.6119578417, 2079.1606236968, 1945.780888...","[[-446.6452941895, -422.6954345703, -426.02734..."
...,...,...,...,...,...,...
6178,telugu,"[0.0013207975, 0.0019568782, 0.002198813, 0.03...","[0.0400390625, 0.0810546875, 0.078125, 0.06542...","[2781.7079534371, 2721.4191785234, 2722.215196...","[2389.1352454214, 2151.9468806418, 2232.123016...","[[-494.7901000977, -458.7627563477, -429.15322..."
6179,odiya,"[0.0017946149, 0.0026038224, 0.0033023616, 0.0...","[0.0546875, 0.1015625, 0.076171875, 0.06347656...","[2817.6374684681, 2590.470282003, 2535.3186567...","[2697.3529675747, 2111.9722581644, 1928.624935...","[[-471.3420715332, -423.157043457, -421.175170..."
6180,malayalam,"[0.0017542240000000002, 0.0025207074, 0.002529...","[0.033203125, 0.05859375, 0.0498046875, 0.0722...","[2792.8350576795, 2739.9685261638, 2786.457334...","[2366.7544940406, 2108.1867222711, 2258.360337...","[[-488.4339599609, -459.7818603516, -461.59078..."
6181,bangla,"[0.0014164349000000001, 0.0019143918000000002,...","[0.0390625, 0.09375000000000001, 0.1005859375,...","[2767.9994245806, 2828.1800438228, 2766.121219...","[2193.7947199968, 2402.7724275448, 2370.159846...","[[-490.4011535645, -462.4995422363, -463.83020..."
6182,telugu,"[0.0484213158, 0.06314402820000001, 0.05158800...","[0.009765625, 0.015625, 0.015625, 0.03125, 0.0...","[1486.085447337, 1078.1197341638, 1242.7112051...","[713.7242808265, 461.0879906932, 511.009573229...","[[-332.3883056641, -366.9843444824, -323.56549..."

In [4]:
def get_min_avg_max(column, data=data):
    row_data_min, row_data_avg, row_data_max = [], [], []
    for row in data[column]:
        row_data_min.append(min(row))
        row_data_avg.append(mean(row))
        row_data_max.append(max(row))
    
    data.drop(column, axis=1, inplace=True)
    data[f'min_{column}'] = row_data_min
    data[f'avg_{column}'] = row_data_avg
    data[f'max_{column}'] = row_data_max
    
    return row_data_min, row_data_avg, row_data_max

In [5]:
a,b,c = get_min_avg_max('rms')
a,b,c = get_min_avg_max('zrc')
a,b,c = get_min_avg_max('sb')
a,b,c = get_min_avg_max('sc')

In [6]:
data

,lable,mfcc,min_rms,avg_rms,max_rms,min_zrc,avg_zrc,max_zrc,min_sb,avg_sb,max_sb,min_sc,avg_sc,max_sc
0,bangla,"[[-471.7465515137, -456.7153930664, -459.34436...",0.001395,0.086223,0.292426,0.015625,0.154839,0.728516,690.435133,2202.139263,3778.894295,450.437122,2555.452742,7573.473501
1,malayalam,"[[-472.3463745117, -446.223815918, -440.630249...",0.001854,0.051283,0.201747,0.017578,0.100883,0.664062,840.251371,2266.859190,3728.589663,512.745162,2078.347464,7123.439391
2,malayalam,"[[-476.6443786621, -446.4409484863, -445.25283...",0.001721,0.020130,0.136092,0.016602,0.114834,0.635742,1225.640372,2397.933800,3083.726345,585.840174,2287.418665,7209.135808
3,odiya,"[[-477.852935791, -448.7857971191, -444.822631...",0.001605,0.014365,0.085764,0.016602,0.072445,0.332031,1065.024228,2327.249148,3061.177303,551.961391,1844.255336,4871.640815
4,bangla,"[[-446.6452941895, -422.6954345703, -426.02734...",0.001976,0.052965,0.204123,0.016602,0.080566,0.602539,706.835106,2042.273991,3649.956346,447.082234,1774.222759,7000.516471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6178,telugu,"[[-494.7901000977, -458.7627563477, -429.15322...",0.001321,0.046776,0.136986,0.009766,0.059961,0.504883,875.196785,1888.312374,2896.844442,441.360981,1468.854314,5380.341401
6179,odiya,"[[-471.3420715332, -423.157043457, -421.175170...",0.001795,0.019663,0.090794,0.015625,0.082088,0.425781,1175.091343,2320.185029,3639.743682,574.554555,1934.522800,5186.208055
6180,malayalam,"[[-488.4339599609, -459.7818603516, -461.59078...",0.001380,0.030098,0.170651,0.013672,0.085098,0.390625,779.022654,2310.245655,3255.817300,511.193899,2015.218670,4854.653620
6181,bangla,"[[-490.4011535645, -462.4995422363, -463.83020...",0.001398,0.057666,0.224636,0.017578,0.122231,0.790039,703.419893,2305.310919,3807.206322,456.136777,2289.051523,7645.426565
6182,telugu,"[[-332.3883056641, -366.9843444824, -323.56549...",0.001465,0.047487,0.239017,0.009766,0.068735,0.240234,741.533559,2210.645469,3123.318353,452.790201,1738.376381,3814.649679

In [10]:
features = data.drop(['lable', 'mfcc'], axis=1)
features

,min_rms,avg_rms,max_rms,min_zrc,avg_zrc,max_zrc,min_sb,avg_sb,max_sb,min_sc,avg_sc,max_sc
0,0.001395,0.086223,0.292426,0.015625,0.154839,0.728516,690.435133,2202.139263,3778.894295,450.437122,2555.452742,7573.473501
1,0.001854,0.051283,0.201747,0.017578,0.100883,0.664062,840.251371,2266.859190,3728.589663,512.745162,2078.347464,7123.439391
2,0.001721,0.020130,0.136092,0.016602,0.114834,0.635742,1225.640372,2397.933800,3083.726345,585.840174,2287.418665,7209.135808
3,0.001605,0.014365,0.085764,0.016602,0.072445,0.332031,1065.024228,2327.249148,3061.177303,551.961391,1844.255336,4871.640815
4,0.001976,0.052965,0.204123,0.016602,0.080566,0.602539,706.835106,2042.273991,3649.956346,447.082234,1774.222759,7000.516471
...,...,...,...,...,...,...,...,...,...,...,...,...
6178,0.001321,0.046776,0.136986,0.009766,0.059961,0.504883,875.196785,1888.312374,2896.844442,441.360981,1468.854314,5380.341401
6179,0.001795,0.019663,0.090794,0.015625,0.082088,0.425781,1175.091343,2320.185029,3639.743682,574.554555,1934.522800,5186.208055
6180,0.001380,0.030098,0.170651,0.013672,0.085098,0.390625,779.022654,2310.245655,3255.817300,511.193899,2015.218670,4854.653620
6181,0.001398,0.057666,0.224636,0.017578,0.122231,0.790039,703.419893,2305.310919,3807.206322,456.136777,2289.051523,7645.426565
6182,0.001465,0.047487,0.239017,0.009766,0.068735,0.240234,741.533559,2210.645469,3123.318353,452.790201,1738.376381,3814.649679

In [11]:
lables = np.array(data['lable'])

# One-hot encode the data using pandas get_dummies
lables = pd.get_dummies(lables)
# Display the first 5 rows of the last 12 columns
lables.iloc[:,5:].head(5)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [12]:
from sklearn.model_selection import train_test_split

train_features, test_features, train_labels, test_labels = train_test_split(features, lables, test_size = 0.25, random_state = 42)

In [13]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels)

RandomForestRegressor(n_estimators=1000, random_state=42)

In [14]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
predictions = rf.predict(test_features)

# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:\n', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error:
 bangla       0.08
malayalam    0.14
odiya        0.04
telugu       0.08
dtype: float64 degrees.

/home/rutvik/Projects/Final_Year_Project/venv/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [15]:
errors

      bangla  malayalam  odiya  telugu
1426   0.075      0.007  0.000   0.068
2328   0.000      0.045  0.045   0.000
5713   0.725      0.157  0.002   0.566
2110   0.006      0.061  0.039   0.016
5069   0.001      0.000  0.000   0.001
...      ...        ...    ...     ...
5001   0.120      0.101  0.000   0.019
6076   0.008      0.006  0.001   0.001
3528   0.854      0.843  0.000   0.011
203    0.112      0.002  0.000   0.114
339    0.000      0.000  0.000   0.000

[1546 rows x 4 columns]

In [16]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:\n', round(accuracy, 2), '%.')

Accuracy:
 bangla       92.32
malayalam    85.78
odiya        96.00
telugu       92.27
dtype: float64 %.

/home/rutvik/Projects/Final_Year_Project/venv/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)